@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
    @{
        Html.RenderPartial("_MainMenu");
    }
</div>

<div id="cl-wrapper">
    <div class="cl-sidebar">
        @{
            Html.RenderPartial("_SideBar");
        }
    </div>

    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Dashboard","Home")">Inicio</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
        <div class="cl-mcont">
            @RenderBody()
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@section scripts{
    @RenderSection("scripts",false)
}
